* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.left {
    width: 23vw;
    padding: 10px;
}

.right {
    width: 77vw;
}

body {
    background-color: black;
    color: white;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 11px;
}

.home {
    padding: 10px;
    margin-left: 7px;
}

.heading {
    display: flex;
    gap: 15px;
    padding-top: 11px;
    padding-top: 3px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

.heading img {
    width: 13px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 7px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: gray;
}

.right {
    margin: 16px 0;
}

.header {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 25, 25);
}

.header>* {
    padding: 20px;
}

.spotifyplaylists {
    padding: 6px 17px;
}

.cardcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.card {
    width: 200px;
    margin-top: 7px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card>* {
    padding-top: 7px;
}

.spotifyplaylists p {
    color: gray;
}

.play {
    position: absolute;
    top: 165px;
    right: 16px;
}